stages:
  - build
  - test 
  - deploy
  - deployment tests

build website:
  stage: build
  image: node:lts
  script:
    - npm install
    - npm install -g gatsby-cli
    - gatsby build
  artifacts:
    paths:
      - ./public

test artifact:
  image: alpine
  stage: test
  script:
    - grep -q "Gatsby" ./public/index.html
    
test website:
    image: node
    stage: test
    script:
      - npm install
      - npm install -g gatsby-cli
      - gatsby serve & 
      - sleep 10
      - curl "http://localhost:9000" | tac | tac | grep -q "Gatsby" 

deploy to surge:
  stage: deploy
  image: node
  script:
    - npm install --global surge
    - surge --project ./public --domain jasmyns.surge.sh

test deployment:
  stage: deployments tests
  image: alpine
  script:
    - curl "https://jasmyns.surge.sh/" | grep -q "jasmyns"
